*.o
*.a
*.so
*.so.*
.depend
build-stamp
configure-stamp

*.gcda
*.gcno
lcov.info
coverage

ut_libdsme

debian/files
debian/libdsme0.2.0-dbg.*
debian/libdsme0.2.0-dbg/
debian/libdsme0.2.0-dev.*
debian/libdsme0.2.0-dev/
debian/libdsme0.2.0*
debian/libdsme0.2.0/
debian/tmp/
